.container {
  max-width: 1024px;
  margin: 1rem auto;
  align-items: center;
  background-color: rgb(245, 244, 244);
}
.btns-container button {
  width: 5rem;
  height: 2rem;
  margin: 2px 5px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: var(--blue-color);
  cursor: pointer;
}
.btns-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: 0 2rem;
}
.user-detail {
  margin-left: 4rem;
}
.user-name {
  border: 2px solid lightslategray;
  padding: 1rem;
  margin: 2rem;
}
.text-info {
  display: flex;
  align-items: center;
}
.text-info :nth-child(1) {
  font-weight: bold;
}
.text-info :nth-child(2) {
  margin-left: 10px;
}
